---
# ***Python intro_ Data types***
---

# Variables

In [ ]:
a, b = 7, 7.0
c    = 'hello'
_1   = "1'1'"

In [ ]:
a, b, c, _1

In [ ]:
type(a), type(b), type(c), type(_1)

In [ ]:
%who

In [ ]:
%whos

## Exercise

In [ ]:
a, type(a)

In [ ]:
a = 4
a, type(a)

In [ ]:
a = 'my string'
a, type(a)

# Math and printing

In [ ]:
4/3

In [ ]:
# Break one long line of code to multiple lines of code
4 +\
    3

In [ ]:
x = 7
y = 4.3
z = 0

In [ ]:
# floating-point algebra
y + x - 7

In [ ]:
3*2, 3**2, 9**(1/2) # 3x2 , 3 to the power of 2 , square root of 9

In [ ]:
# order of operations
9**1/2, (9**1) /2

In [ ]:
firstName = 'Kavinda'
lastName  = 'Ravishan'

In [ ]:
fullName = firstName + ' ' + lastName
fullName

In [ ]:
firstName * 3

In [ ]:
print(str(x) + ' + ' + str(y) + ' = ' + str(x+y))

In [ ]:
ans = input('Enter a number : ')

In [ ]:
ans, type(ans)

In [ ]:
ans = int(ans)
ans, type(ans)

In [ ]:
ans = int(input('Enter a number : '))
ans, type(ans)

## Exercise

In [ ]:
'''
     |\ 
   a | \ c
     |  \ 
     |___\ 
       b
'''

a = float(input('Input the length of side "a" : '))
b = float(input('Input the length of side "b" : '))

c = ((a**2) + (b**2))**(1/2)

print(f'( ({a}^2) + ({b}^2) )^(1/2) = {c}')

# Lists (1 of 2)

In [ ]:
aList = [ 4,5,6,2,0,3 ]
aList, type(aList), len(aList)

In [ ]:
strList = ['kavinda', 'ravishan']
strList

In [ ]:
mixList = [ 8, 5.1, 'test', True]
mixList

In [ ]:
listList = [
    1, 2, 'one', 
    [
        2, 9.1 # a list in list
    ], 
    [
        True, False, True, 'zero', 1/4 # a mix list
    ], 
    3.4 # param
]
listList

In [ ]:
aList

In [ ]:
4 in aList # is 4 in the 'aList'

In [ ]:
44 in aList

In [ ]:
44 not in aList # is 44 not in the 'aList'

In [ ]:
aList, strList

In [ ]:
aList + strList

In [ ]:
aList = [1,2,3]
aList * 3

## Method

In [ ]:
print(aList)
aList.append(-100)
print(aList)

In [ ]:
print(aList)
aList.append(-100)
print(aList)

In [ ]:
print(aList)
aList.sort()
print(aList)

## Exercise

In [ ]:
aList.count(-100) # number of -100's in 'aList'

# Lists (2 of 2)

In [1]:
lst = [1, 2, 3, 4, 5]
print(lst)
lst.append(7)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]

In [2]:
lst.insert(2, 9)
lst

[1, 2, 9, 3, 4, 5, 7]

In [3]:
lst.insert(0, 'kavinda')
lst

['kavinda', 1, 2, 9, 3, 4, 5, 7]

In [4]:
lst.remove(1)
lst

['kavinda', 2, 9, 3, 4, 5, 7]

## Exercise

In [5]:
lst

['kavinda', 2, 9, 3, 4, 5, 7]

In [6]:
# Remove the string
lst.remove('kavinda')
lst

[2, 9, 3, 4, 5, 7]

In [7]:
lst.sort()
lst

[2, 3, 4, 5, 7, 9]

In [8]:
lst.sort(reverse=True)
lst

[9, 7, 5, 4, 3, 2]