---
# ***Python intro_ Data types***
---

# Variables

In [ ]:
a, b = 7, 7.0
c    = 'hello'
_1   = "1'1'"

In [ ]:
a, b, c, _1

In [ ]:
type(a), type(b), type(c), type(_1)

In [ ]:
%who

In [ ]:
%whos

## Exercise

In [ ]:
a, type(a)

In [ ]:
a = 4
a, type(a)

In [ ]:
a = 'my string'
a, type(a)

# Math and printing

In [ ]:
4/3

In [ ]:
# Break one long line of code to multiple lines of code
4 +\
    3

In [ ]:
x = 7
y = 4.3
z = 0

In [ ]:
# floating-point algebra
y + x - 7

In [ ]:
3*2, 3**2, 9**(1/2) # 3x2 , 3 to the power of 2 , square root of 9

In [ ]:
# order of operations
9**1/2, (9**1) /2

In [ ]:
firstName = 'Kavinda'
lastName  = 'Ravishan'

In [ ]:
fullName = firstName + ' ' + lastName
fullName

In [ ]:
firstName * 3

In [ ]:
print(str(x) + ' + ' + str(y) + ' = ' + str(x+y))

In [ ]:
ans = input('Enter a number : ')

In [ ]:
ans, type(ans)

In [ ]:
ans = int(ans)
ans, type(ans)

In [ ]:
ans = int(input('Enter a number : '))
ans, type(ans)

## Exercise

In [ ]:
'''
     |\ 
   a | \ c
     |  \ 
     |___\ 
       b
'''

a = float(input('Input the length of side "a" : '))
b = float(input('Input the length of side "b" : '))

c = ((a**2) + (b**2))**(1/2)

print(f'( ({a}^2) + ({b}^2) )^(1/2) = {c}')

# Lists (1 of 2) : [ ]

In [ ]:
aList = [ 4,5,6,2,0,3 ]
aList, type(aList), len(aList)

In [ ]:
strList = ['kavinda', 'ravishan']
strList

In [ ]:
mixList = [ 8, 5.1, 'test', True]
mixList

In [ ]:
listList = [
    1, 2, 'one', 
    [
        2, 9.1 # a list in list
    ], 
    [
        True, False, True, 'zero', 1/4 # a mix list
    ], 
    3.4 # param
]
listList

In [ ]:
aList

In [ ]:
4 in aList # is 4 in the 'aList'

In [ ]:
44 in aList

In [ ]:
44 not in aList # is 44 not in the 'aList'

In [ ]:
aList, strList

In [ ]:
aList + strList

In [ ]:
aList = [1,2,3]
aList * 3

## Method

In [ ]:
print(aList)
aList.append(-100)
print(aList)

In [ ]:
print(aList)
aList.append(-100)
print(aList)

In [ ]:
print(aList)
aList.sort()
print(aList)

## Exercise

In [ ]:
aList.count(-100) # number of -100's in 'aList'

# Lists (2 of 2)

In [1]:
lst = [1, 2, 3, 4, 5]
print(lst)
lst.append(7)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]

In [2]:
lst.insert(2, 9)
lst

[1, 2, 9, 3, 4, 5, 7]

In [3]:
lst.insert(0, 'kavinda')
lst

['kavinda', 1, 2, 9, 3, 4, 5, 7]

In [4]:
lst.remove(1)
lst

['kavinda', 2, 9, 3, 4, 5, 7]

## Exercise

In [5]:
lst

['kavinda', 2, 9, 3, 4, 5, 7]

In [6]:
# Remove the string
lst.remove('kavinda')
lst

[2, 9, 3, 4, 5, 7]

In [7]:
lst.sort()
lst

[2, 3, 4, 5, 7, 9]

In [8]:
lst.sort(reverse=True)
lst

[9, 7, 5, 4, 3, 2]

# Tuples : ( )

In [21]:
atuple = 1, 'hello', 3.1
atuple, type(atuple)

((1, 'hello', 3.1), tuple)

In [22]:
atuple = ( 3, 'kavinda', 4.5)
atuple, type(atuple)

((3, 'kavinda', 4.5), tuple)

In [23]:
atuple * 3

(3, 'kavinda', 4.5, 3, 'kavinda', 4.5, 3, 'kavinda', 4.5)

In [24]:
atuple[1]

'kavinda'

In [25]:
alist = [3, 'kavinda', 4.5]
alist

[3, 'kavinda', 4.5]

In [26]:
# List is mutable

alist[0] = 31.1
alist

[31.1, 'kavinda', 4.5]

In [27]:
# Tuple is immutable
# atuple[0] = 31.1
# TypeError: 'tuple' object does not support item assignment

# Booleans

In [2]:
t = True
f = False

%whos

Variable   Type      Data/Info
------------------------------
f          bool      False
os         module    <module 'os' from 'C:\\Us<...>\\anaconda3\\lib\\os.py'>
sys        module    <module 'sys' (built-in)>
t          bool      True

In [4]:
4 == 4, 4 == 5, 4 != 4, 4 != 5

(True, False, False, True)

In [6]:
4 == 4.0, 4 == '4'

(True, False)

In [7]:
test = 4 == 4 # test = (4 == 4)
test

True

In [10]:
4 > 5, 2 < 2, 2 <= 2

(False, False, True)

## Conjunctive comparison

In [13]:
x = 10

x > 5 and x < 15, x == 5 or x == 10

(True, True)

In [16]:
x > 5 and x < 15 and x != 0, x > 5 or x < 15 and x != 0

(True, True)

In [14]:
x == 10, not x == 10

(True, False)

## Cast

In [20]:
str(5.2), float(5.4), str(True)

('5.2', 5.4, 'True')

In [19]:
bool(0), bool(1), bool(0.1), bool(10), bool(-10), bool(-0.1)

(False, True, True, True, True, True)

In [27]:
bool('true'), bool('True'), bool('!3wsd sd d'), bool(' '), bool('False'), bool('false'), bool('0')

(True, True, True, True, True, True, True)

In [28]:
bool(''), bool("") # Empty string

(False, False)

## Exercise
## `1) Input from the user 3 numbers : a, b, c`
## `2) Check whether c**2  = a**2 + b**2`
## `3) Print out the result`

In [46]:
side_a = float(input('Input length of side "a" : '))
side_b = float(input('Input length of side "b" : '))
side_c = float(input('Input length of side "c" : '))

a, b, c

(3.0, 4.0, 5.0)

In [51]:
isPythTriplet = ( side_c**2 == (side_a**2) + (side_b**2) )
print(f'Test result : {isPythTriplet}')
print("You'r answer is " + str(isPythTriplet) + " !!!")

Test result : True
You'r answer is True !!!

# Dictionaries key/value pairs { }

In [58]:
D = dict()
D, type(D)

({}, dict)

In [59]:
#   Key       Value
D['name'] = 'kavinda'
D['ageRange'] = [20, 30]

D

{'name': 'kavinda', 'ageRange': [20, 30]}

In [61]:
E = {'name': 'kavinda', 'ageRange': [20, 30], 'isStudent' : False}
E

{'name': 'kavinda', 'ageRange': [20, 30], 'isStudent': False}

In [65]:
D['name'] = 'ravishan'
D['name'], D['ageRange']

('ravishan', [20, 30])

In [67]:
E.keys()

dict_keys(['name', 'ageRange', 'isStudent'])

In [70]:
'name' in E, 'kavinda' in E

(True, False)

In [71]:
E.values()

dict_values(['kavinda', [20, 30], False])

In [73]:
'name' in E.values(), 'kavinda' in E.values()

(False, True)

In [74]:
E.items()

dict_items([('name', 'kavinda'), ('ageRange', [20, 30]), ('isStudent', False)])

## Exercise

In [77]:
numDict = dict()
numDict['firstNum'] = float(input('First number : '))
numDict['secondNum'] = float(input('Second number : '))
numDict['product'] = numDict['firstNum'] * numDict['secondNum']

numDict.items()

dict_items([('firstNum', 4.0), ('secondNum', 3.0), ('product', 12.0)])